* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif
}
body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(65, 97, 131);
}

/*Navbar*/
.navbar {
    background-color: #023d79;

}
.navbar .container .navbar-brand img{
    width: 150px;
    height: 50px;
}

.navbar .btn-login {
    display: block;
    margin-left: 0.5%;
    margin-right: 0.5%;
    color: #030303;
    background-color: #fff;
    border-radius: 10px;
    padding: 8px 13px;
}

.btn-login:hover {
    background-color: transparent;
    border: 2px solid #fff;
}

/*Cards*/
h2 {
    text-align: center;
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
}

.card-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
width: 350px;
background-color: #fff;
border-radius: 8px;
overflow: hidden;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
margin: 20px;

}

.card img {
    width: 100%;
    height: 300px;
}

.card-body {
    padding: 16px;
}

.card-body p {
    color: #fff;
    font-size: 15px;
    line-height: 1.3;
}

.popover .popover-content {
  visibility: hidden;
  width: 120px;
  background-color: #000000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; 
  left: 50%; 
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.popover:hover .popover-content {
  visibility: visible;
  opacity: 1;
}


/*Footer*/
.footer {
    width: 100%;
    background-color: #023d79;
}

.footer .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.footer .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .grupo-1 .box figure img {
    width: 100px;
}

.footer .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.footer .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #023d79;
    text-align: center;
    transition: all 300ms ease;
}

.footer .grupo-1 .red-social a:hover {
    color: aqua;
}

.footer .grupo-2 {
    background-color:   #023d79;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width:800px){
    .footer .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
}