{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<div class="card-group">
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'img/bateria1.jpg' %}" class="card-img-top" alt="card-1">
        <div class="card-body">
            <h5 class="card-title">Roland TD-1DMK-230</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional content. This content is a little bit longer.</p>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción"
                data-bs-content="Esta batería cuenta con una gran variedad de sonidos y efectos.">
                Ver descripción
            </button>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'img/bateria2.jpg' %}" class="card-img-top" alt="card-2">
        <div class="card-body">
            <h5 class="card-title">Tama Imperialstar IE58H6W</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
            </p>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción"
                data-bs-content="Es reconocida por su durabilidad y gran calidad de sonido.">
                Ver descripción
            </button>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'img/bateria3.jpg' %}" class="card-img-top" alt="card-3">
        <div class="card-body">
            <h5 class="card-title">Avatar A51</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional content. This card has even longer content than the first to show that equal height
                action.</p>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción"
                data-bs-content="Alta calidad, versátil y fácil de usar.">
                Ver descripción
            </button>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'img/bateria4.jpg' %}" class="card-img-top" alt="card-4">
        <div class="card-body">
            <h5 class="card-title">Avatar SD61-6</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                additional content. This card has even longer content than the first to show that equal height
                action.</p>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción"
                data-bs-content="Batería electrónica profesional con una amplia gama de sonidos y funciones avanzadas.">
                Ver descripción
            </button>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<script>
    // Inicializar los popovers
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl)
    })
</script>

{% endblock%}