{% extends 'base.html' %}

{% load static %}

{% block contenido %}

    <div class="card-group">
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <img src="{% static 'img/guitarra1.jpg' %}" class="card-img-top" alt="card-1">
            <div class="card-body">
                <h5 class="card-title">Parquer Custom Azul Apx con Corte</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción del Producto"
                data-bs-content="Guitarra eléctrica de alta calidad con cuerpo de madera de arce.">
                Ver Descripción
            </button>
        </div>
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <img src="{% static 'img/guitarra2.jpg' %}" class="card-img-top" alt="card-2">
            <div class="card-body">
                <h5 class="card-title">MEA0V, color negro</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.
                </p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción del Producto"
                data-bs-content="Guitarra electroacústica de diseño elegante con cuerpo delgado.">
                Ver Descripción
            </button>
        </div>
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <img src="{% static 'img/guitarra3.jpg' %}" class="card-img-top" alt="card-3">
            <div class="card-body">
                <h5 class="card-title">G260 CS BK</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal height
                    action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción del Producto"
                data-bs-content="Guitarra clásica con acabado en negro brillante.">
                Ver Descripción
            </button>
        </div>
        <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
            <img src="{% static 'img/guitarra4.jpg' %}" class="card-img-top" alt="card-4">
            <div class="card-body">
                <h5 class="card-title">Yamaha Pacifica 112v ovs rl</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                    additional content. This card has even longer content than the first to show that equal height
                    action.</p>
            </div>
            <div class="card-footer">
                <small class="text-body-secondary">Last updated 3 mins ago</small>
            </div>
            <!-- Botón con Popover -->
            <button type="button" class="btn btn-primary" data-bs-toggle="popover" title="Descripción del Producto"
                data-bs-content="Guitarra eléctrica versátil con un sonido potente y gran comodidad.">
                Ver Descripción
            </button>
        </div>
    </div>

    
    <script>
        // Inicializar los popovers
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>


{% endblock %}