{% extends 'base.html' %}

{% load static %}

{% block contenido %}

<!--Carrusel-->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'images/slide1.jpg' %}" class="d-block w-100" alt="slide-1">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/slide2.jpg' %}" class="d-block w-100" alt="slide-2">
        </div>
        <div class="carousel-item">
            <img src="{% static 'images/slide3.jpg' %}" class="d-block w-100" alt="slide-3">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<!--Cuerpo-->

<hr>
<h2><b>Ofertas y promociones!</b></h2>
<div class="card-group">
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'images/card1.jpg' %}" class="card-img-top" alt="card-1">
        <div class="card-body">
            <h5 class="card-title"> Kit de microfonos profesionales H1</h5>
            <p class="card-text">Micrófonos de calidad para capturar sonidos nítidos y profesionales.
            </p>
            <p class="card-text">$114.990
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 20 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'images/card2.jpg' %}" class="card-img-top" alt="card-2">
        <div class="card-body">
            <h5 class="card-title">Amplificador Marshall</h5>
            <p class="card-text">Potentes amplificador para llevar tu música al siguiente nivel
            </p>
            <p class="card-text">$79.990
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 17 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'images/card3.jpg' %}" class="card-img-top" alt="card-3">
        <div class="card-body">
            <h5 class="card-title">Bateria electrica </h5>
            <p class="card-text">Experimenta la emoción de tocar la batería electrónica,
                con una variedad de sonidos y funciones para explorar tu creatividad musical sin límites.
            </p>
            <p class="card-text">$299.990
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 10 mins ago</small>
        </div>
    </div>
    <div class="card text-bg-secondary mb-3" style="max-width: 18rem;">
        <img src="{% static 'images/card4.jpg' %}" class="card-img-top" alt="card-4">
        <div class="card-body">
            <h5 class="card-title">Violin Yamaha</h5>
            <p class="card-text">Descubre la belleza y la expresividad del violín con
                instrumentos cuidadosamente construidos,
                perfectos para músicos que buscan calidad y estilo en cada nota.</p>
            <p class="card-text">
                $60.200
            </p>
        </div>
        <div class="card-footer">
            <small class="text-body-secondary">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<!--Modal-->

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Contacto en vivo </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Contactar a un agente</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Acá va a ir una a api de Chatbot
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Botón</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}