<!-- navbar.html -->
<nav class="navbar navbar-expand-lg bg-tertiary">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="img/Logo-1.png" class="img-logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Inicio</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Instrumentos
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="guitarras.html">Guitarras</a></li>
                        <li><a class="dropdown-item" href="bateria.html">Baterías</a></li>
                        <li><a class="dropdown-item" href="#">Bajos</a></li>
                        <li><a class="dropdown-item" href="#">Teclados</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Audio y grabación
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Micrófonos</a></li>
                        <li><a class="dropdown-item" href="#">Amplificadores</a></li>
                        <li><a class="dropdown-item" href="#">Pedales</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Soportes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Ofertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Contáctanos</a>
                </li>
                <li class="nav-item  active text-light">
                    <a class="nav-link text-light" href="https://qiuxiang.github.io/tuner/app/">Afinador
                    </a>
                </li>
            </ul>
            <form id="searchForm">
                <input id="searchInput" type="search" placeholder="Buscar..." aria-label="Buscar">
                <button type="button" onclick="performSearch()">Buscar</button>
            </form>
            <a class="btn-login" href="login.html">
                <i class="bi bi-box-arrow-in-right text-decoration"></i>
            </a>
        </div>
    </div>
</nav>
